.hackerRankWidget {
    border: 5px solid rgba(57, 66, 78, 1) !important;
    color: #f5f5f5 !important;
    background: #242424 !important;
}

.hackerRankWidget h2 {
    border-bottom: 1px solid #c2c7d0 !important;
}

.hackerRankWidget header {
    background: rgba(57, 66, 78, 1) !important;
}

.hackerRankWidget header a {
    color: #fff !important;
}

.hackerRankWidget .hrPane a {
    color: #5591E2 !important;
}

.hackerRankWidget a:hover {
    color: #0076b9 !important;
}

/* PROFILE */

.hackerRankWidget .hrProfile .hrRight {
    background-color: rgba(0, 0, 0, 0.03) !important;
}

.hackerRankWidget .hrUserNameLink {
    color: #5591E2 !important;
}

/* BADGES */

.hackerRankWidget .hrBadgeLevel {
    color: #242424 !important;
}

.hackerRankWidget .hrBadgeProgress {
    background-color: #EDEDED !important;
    border: 1px solid rgb(228, 228, 228) !important
}

.hackerRankWidget .hrBadgeProgressBar {
    background-color: #9CC069;
!important
}