<div ng-controller="GenericHackerRankController" data-method='recent_challenges'>

    <span ng-show="!data.models.length && currentPage == 1">This user have not enrolled in a challenge.</span>
    <span ng-show="!data.models.length && currentPage > 1">No more challenges.</span>

    <div ng-repeat="challenge in data.models">
        <a href='{{baseUrl}}/challenges/{{challenge.slug}}' target='_blank'>
            {{challenge.name}}
        </a>
    </div>

    <div>
	    <span class="hackerRankWidgetButton hackerRankWidgetButtonPrev" title='Previous page'
              ng-click="previousPage()" ng-class="{hackerRankButtonDisabled: !thereIsPrevious}"></span>
	    <span class="hackerRankWidgetButton hackerRankWidgetButtonNext" title='Next page'
              ng-click="nextPage()" ng-class="{hackerRankButtonDisabled: !thereIsNext}"></span>
    </div>

</div>
